@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
font-family: 'Montserrat', sans-serif;

}

.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .titulo {
    margin-right: auto;
  }
  

.ingreso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .separacionDiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; /* Espacio entre los campos, ajusta según necesites */
  }
  
  .separacionDiv label {
    margin-bottom: 5px; /* Espacio entre el label y el input, ajusta según necesites */
  }
 

  .cliente-container {
    text-align: center;
  }

  .cliente-image {
    max-width: 200px;
    max-height: 200px;
  }